<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="OFF"
                      packages="com.elevatormgr">
    <!--
    Appenders forward log messages to the desired output. Appenders are responsible for accepting log events, formatting them using a Layout, and delivering them to their destination. Multiple Appenders can be combined to write the same log event to multiple destinations. For instance, a single event can be simultaneously displayed in a console and emailed to a recipient.
    -->
    <Appenders >
        <RollingFile name="RollingFile" fileName="/tmp/app.log" filePattern="/tmp/app-%d{MM-dd-yyyy}.log.gz" ignoreExceptions="false">
        <!--
         Layouts convert the contents of a log entry from one data type into another. Logging frameworks provide Layouts for plain text, HTML, syslog, XML, JSON, serialized, and other logs.
        -->
            <PatternLayout pattern="Timestamp = %d{yyyy-MM-dd HH:mm:ss.SSS z} | Message=%m%xEx%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout pattern="Timestamp = %d{yyyy-MM-dd HH:mm:ss.SSS z} | Message=%m%xEx%n"/>
        </Console>
    </Appenders>
    <loggers>
        <Logger name="org.apache.log4j.xml" level="all" />
        <root level="all">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="RollingFile"/>
        </root>
    </loggers>
</Configuration>